@charset "utf-8";

/* border: 1px solid #000; */

* {
    box-sizing: border-box;
}



/* flex-direction  ---------------------------------------*/

.container1 {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    border: 1px dotted #000;
    margin-bottom: 30px;
}

.item1 {
    /* width: 100px;
    height: 100px; */
    color: #6e5904;
    background-color: #e7968f;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;

}



/* flex-wrap (子要素の折り返し) ---------------------------------------------*/

.container2 {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;

    border: 1px dotted #000;
    margin-bottom: 30px;

}

.item2 {
    /* width: 100px;
    height: 100px; */
    color: #231158;
    background-color: #82dacd;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;

}



/* justify-content (水平方向の揃え)-----------------------------------------*/

.container3 {
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    border: 1px dotted #000;
    margin-bottom: 30px;

}

.item3 {
    color: #3c59b0;
    background-color: #bc77c7;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}


/* align-items (垂直方向の揃え) ---------------------------------------------*/

.container4 {
    display: flex;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    height: 300px;
    border: 1px dotted #000;
    margin-bottom: 30px;
}

.item4 {
    color: #075f09;
    background-color: #f1e176;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}


/* align-content (複数行の垂直方向の揃え) ---------------------------------------------*/

.container5 {
    display: flex;
    flex-wrap: wrap;
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */

    height: 600px;
    border: 1px dotted #000;
    margin-bottom: 30px;
    }

.item5 {
    color: #0f8e11;
    background-color: #f3d13b;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}
