@charset "UTF-8";

 /* border: 1px dotted #000; */

/* 共通部分 -------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

image {
    max-width: 100%;
}



/* layout  -------------------------------*/
.align-center {
    text-align: center;
}



/* 見出し  -------------------------------*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}



/* header -------------------------------*/
.page-header {
    padding-top: .5rem;
}

.logo {
    width: 210px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;

}

.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}



/* header cover 画像  -------------------------------*/
.cover{
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.cover-home {
    background-image: url(../images/cover-home-s.webp);
}


/* 見出し  -------------------------------*/
/* .font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
} */

.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
    border: 1px dotted #000;
}


/* section  -------------------------------*/
.heading-large {
    font-size: 3rem;
    text-align: center;
    /* border: 1px dotted #000; */
    margin-bottom: 1rem;
}

.about {
    max-width: 736px;
    padding: 4rem;
    margin: 3rem auto 0;
    /* border: 1px dotted #000; */

}

.about p {
    margin-bottom: 3rem;
    /* text-align: center; */
    /* border: 1px dotted #000; */
}

.btn {
    display: inline-block;  /* ボタンなどに使う */
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
    /* border: 1px dotted #000; */

}
.btn:hover {
    background-color: #0090aa;
}



/* footer  -------------------------------*/
.page-footer {
    background-image: url(../images/footer-s.webp);
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
}

.info {
   width: 100%;
   max-width: 544px;
   margin: auto;
   padding: 0 1.5rem;
   border-spacing: 0;
   /* border: 1px dotted #000; */
}

.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
    border-bottom: 1px solid #c9c2bc;
}

.info td {
    border-bottom: 1px solid #c9c2bc;
    padding: 1rem;
    /* border: 1px dotted #000; */
}
